<%= form_with(model: staff) do |form| %>
  <% if staff.errors.any? %>
    <div style="color: red">
      <h2><%= staff.errors.count %>件のエラーが発生したため、保存できませんでした：</h2>

      <ul>
        <% staff.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <%# 職種選択欄を追加 %>
  <div>
    <%= form.label :job_type, "職種", style: "display: block" %>
    <%= form.select :job_type, [["薬剤師", "薬剤師"], ["事務員", "事務員"]], include_blank: "選択してください" %>
  </div>

  <div>
    <%= form.submit "保存する" %>
  </div>
<% end %>