<p style="color: green"><%= notice %></p>

<% content_for :title, "スタッフ一覧" %>

<h1>スタッフ一覧</h1>

<%= link_to 'トップページへ戻る', root_path %>

<div id="staffs">
  <% @staffs.each do |staff| %>
    <div id="<%= dom_id staff %>">
      <p>
        <strong>名前:</strong>
        <%= staff.name %>
      </p>
      <p>
        <strong>職種:</strong>
        <%= staff.job_type %>
      </p>
    </div>
    <p>
      <%= link_to "詳細を表示", staff %>
    </p>
  <% end %>
</div>

<%= link_to "新規スタッフ登録", new_staff_path %>

